
/* CSS Document */
html{
/*This property is valid for IE only...*/
scrollbar-face-color:#353535;
scrollbar-track-color:#353535;
scrollbar-arrow-color:#040404;
scrollbar-highlight-color:#474747;
scrollbar-shadow-color:#292929;
scrollbar-3dlight-color:#5C5C5C;
scrollbar-darkshadow-color:#1A1A1A;
}
body{
background-color:#040404;
}

#chart{
height:460px;
}
#gorg{
position:absolute;
top:0px;
left:0px;
width:883px;
}
#gimage{
font-family:Arial, Verdana;
font-size:12px;
color:#CCCCCC;
}
.ish{
font-weight:bold;
}
.ibc{
font-weight:normal;
}
.data{
margin-top:8px;
margin-bottom:8px;
margin-right:20px;
display:inline;
float:right;
font-family:Arial, Verdana;
font-size:10px;
color:#CCCCCC;
letter-spacing:1px;
}
.link{
clear:right;
margin-top:3px;
margin-bottom:3px;
margin-right:18px;
/*vertical-align:middle;*/
display:inline;
float:right;
font-family:Arial, Verdana;
font-size:10px;
color:#CCCCCC;
letter-spacing:1px;
}
.tby{
clear:both;
height:18px;
background-color:#CCFF00;
font-family:Arial,Verdana;
font-size:16px;
font-weight:bold;
color:#000000;
padding:6px 16px;
}
.tbb{
clear:both;
height:18px;
background-color:#005C88;
font-family:Arial,Verdana;
font-size:16px;
font-weight:bold;
color:#E1DDDD;
padding:6px 16px;
}
.sub{
height:13px;
margin-top:1px;
background-color:#023046;
font-family:Arial,Verdana;
font-size:13px;
font-weight:bold;
color:#E1DDDD;
padding:3px 16px;
}

.orgCont{
line-height:14px;
}
.lists{
/*background-color:#00CCCC;*/
margin-left:20px;
margin-right:20px;
margin-bottom:20px;
font-family:Arial, Verdana;
}
.nTxt{
font-size:12px;
font-weight:bold;
color:#C4C4C4;
line-height:140%;
}
.mTxt{
font-size:11px;
font-weight:normal;
color:#A8A8A8;
margin-left:4px;
line-height:140%;
}
.note{
font-size:12px;
font-weight:normal;
color:#FF0000;
}
.ltx{
/*float:right;*/
font-size:11px;
color:#A8A8A8;
}
p.lw{
line-height:50%;
}
a:link{
color:#A8A8A8;
text-decoration:none;
}
a:visited{
color:#A8A8A8;
text-decoration:none;
}
a:hover{
color:#FFFFFF;
text-decoration:none;
}
a.ltx:link{
color:#686868;
text-decoration:none;
}
a.ltx:visited{
color:#686868;
text-decoration:none;
}
a.ltx:hover{
color:#FFFFFF;
text-decoration:none;
}
